@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

h1, h2 {
    font-weight: 800;
    line-height: 1.2;
}

h1 {
    font-size: 80px;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
}

.jumbotron {
    background-image: url("../images/background_night.svg");
    background-size: 100%;
    border-radius: 0;
}

.jumbotron a:hover {
    text-decoration: none;
}

.jumbotron * {
    color: whitesmoke;
}

.post.teaser > a, .sub.teaser > a {
    color: #212529;
    text-decoration: none;
}

.post.teaser > a:focus, .post.teaser > a:hover, .sub.teaser > a:focus, .sub.teaser > a:hover {
    color: #0085a1;
}

.post.teaser > a > .post-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub.teaser > a > .sub-title {
    margin-left: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post.teaser > a > .post-content-preview {
    font-weight: 300;
    margin: 0 0 10px;
}

.post-data > a {
    color: #0f6674;
    text-decoration: #0f6674;
}

.post-data {
    color: #888888;
}


.carousel {
    width:640px;
    height:360px;
}

.carousel-inner .carousel-item img {
    margin: auto;
}

.post.full > .post-title {
    text-align: center;
}

.btn-primary {
    background-color: #0085a1;
    border-color: #0085a1;
}

btn-secondary {
    background-color: #0033FF;
    border-color: #0033FF;
}

.btn-off {
    background-color: #4e555b;
    border-color: #4e555b;
}

.btn {
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer a:hover, footer a:focus {
    color: #0085a1;
}

a {
    color: #212529;
    transition: all .2s;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}