/* # based on http: //woork.blogspot.com /2008/03/perfect-pagination-style-using-css.html */

.clearfix a {
	margin-right: 3px;
}

div.pagination-container {
	margin-bottom: 10px;
	clear: both;
}

ul.pagination {
	margin-left: 80px;
	margin-right: 80px;
	border: 0;
	padding: 5px 0;
	float: left;
	text-align: center;
}

.pagination li {
	padding: 0;
	list-style: none;
	border: solid 1px #1E1E1E;
	float: left;
	margin: 0 2px 0 0;
	display: inline;
}

.pagination a  {
	display: inline-block;
	margin-left: 5px;
	padding: 5px 10px;
	text-decoration: none;
}

.pagination .previous-off a,
.pagination .next-off a, 
.pagination .off a:link, 
.pagination .off a:visited {
	color: #888888;
	font-weight: bold;
}

.pagination .next a, .pagination .previous a, .pagination .first a, .pagination .last a {
	font-weight: bold;
	color: #000000;
}

.pagination .active {
	color: #000000;
	background-color: #DEDEDE;
	font-weight : bold;
}

.pagination a:link, .pagination a:visited {
	color: #000000;
	display : block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination a:hover {
	text-decoration: none;
}