#{extends 'main.html' /}
#{set title:'Home' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}">

#{if toPrintPosts.size()}

<div class="container-fluid">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
*{            #{list items:toPrintPosts, as:'recentPost'}}*
*{            #{displayPost post:recentPost, as:'teaser'/}}*
*{            #{/list}*
                #{paginate.list items:paginator, as:'r'}
                    #{displayPost post:r, as:'teaser'/}
                #{/paginate.list}
                #{paginate.controls items:paginator /}
        </div>
    </div>
</div>

#{/if}

<script src="@{'/public/javascripts/index.js'}"
        data-firstHighestSubTitle="${highestSubberries.get(0).title}"
        data-firstHighestSubId="${highestSubberries.get(0).id}"
        data-secondHighestSubTitle="${highestSubberries.get(1).title}"
        data-secondHighestSubId="${highestSubberries.get(1).id}"
        data-thirdHighestSubTitle="${highestSubberries.get(2).title}"
        data-thirdHighestSubId="${highestSubberries.get(2).id}"
        data-username="${username}"></script>
