#{extends 'main.html' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showPost.css'}">
#{set title:post.title + ' - Cawberry' /}

#{displayPost post:post, as:'full'/}

<div class="post create_new_comment input_comment">
    <div class="row">
        <div class="card my-2">
            <h5 class="card-header">Laisser un commentaire :</h5>
            <div class="card-body">
            #{form @Application.addMessage(post.id)}
                <p style="display: none;">
                    <input type="text" name="author" id="author" value="${username}" />
                </p>
                <p>
                    <label for="content">Votre message: </label><br>
                    <textarea name="content" id="content">${params.content}</textarea>
                </p>
                <button class="btn rounded btn-primary" type="submit">Soumettre</button>
            #{/form}
            </div>
        </div>
    </div>
</div>

<div class="post create_new_comment not_logged_in">
    You must be logged in to be able to comment this post
</div>

<div class="container">
    #{paginate.list items:paginatorMessages, as:'message'}
        #{displayMessage message:message /}
    #{/paginate.list}
    #{paginate.controls items:paginatorMessages /}
</div>


<script src="@{'/public/javascripts/index.js'}"
        data-firstHighestSubTitle="${highestSubberries.get(0).title}"
        data-firstHighestSubId="${highestSubberries.get(0).id}"
        data-secondHighestSubTitle="${highestSubberries.get(1).title}"
        data-secondHighestSubId="${highestSubberries.get(1).id}"
        data-thirdHighestSubTitle="${highestSubberries.get(2).title}"
        data-thirdHighestSubId="${highestSubberries.get(2).id}"
        data-username="${username}"></script>
