#{extends 'main.html' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showPost.css'}">
#{set title:post.title + ' - Cawberry' /}

#{displayPost post:post, as:'full'/}

<div class="post create_new_comment input_comment">
#{form @Application.addMessage(post.id)}
    <p style="display: none;">
        <input type="text" name="author" id="author" value="${username}" />
    </p>
<p>
    <label for="content">Your message: </label><br>
    <textarea name="content" id="content">${params.content}</textarea>
</p>
<p>
    <input type="submit" value="Submit your comment" />
</p>
#{/form}
</div>

<script src="@{'/public/javascripts/index.js'}"
        data-firstHighestSubTitle="${highestSubberries.get(0).title}"
        data-firstHighestSubId="${highestSubberries.get(0).id}"
        data-secondHighestSubTitle="${highestSubberries.get(1).title}"
        data-secondHighestSubId="${highestSubberries.get(1).id}"
        data-thirdHighestSubTitle="${highestSubberries.get(2).title}"
        data-thirdHighestSubId="${highestSubberries.get(2).id}"
        data-username="${username}"></script>
