#{extends 'main.html' /}
#{set title:sub.title /}

<div class="container-fluid">
    <div class="col-lg-8 col-md-10 mx-auto">
            #{if sub.posts.size() >= 3}
                <div class="col-8 d-block mx-auto">
                <div id="carouselLastPosts" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselLastPosts" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselLastPosts" data-slide-to="1"></li>
                        <li data-target="#carouselLastPosts" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="@{Application.showPost(sub.getCarouselPost(0).id)}">
                                <img class="d-block w-100" src="${sub.getCarouselPost(0).imgLink}"
                                     alt="${sub.getCarouselPost(0).title}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>${sub.getCarouselPost(0).title}</h5>
                                    <p>${sub.getCarouselPost(0).previewContent()}</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="@{Application.showPost(sub.getCarouselPost(1).id)}">
                                <img class="d-block w-100" src="${sub.getCarouselPost(1).imgLink}"
                                     alt="${sub.getCarouselPost(1).title}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>${sub.getCarouselPost(1).title}</h5>
                                    <p>${sub.getCarouselPost(1).previewContent()}</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="@{Application.showPost(sub.getCarouselPost(2).id)}">
                                <img class="d-block w-100" src="${sub.getCarouselPost(2).imgLink}"
                                     alt="${sub.getCarouselPost(2).title}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>${sub.getCarouselPost(2).title}</h5>
                                    <p>${sub.getCarouselPost(2).previewContent()}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselLastPosts" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselLastPosts" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            #{/if}
            #{if sub.posts.size() > 0}
                #{list items:sub.previewPosts(), as:'subPost'}
                    #{displayPost post:subPost, as:'teaser' /}
                #{/list}
            #{/if}
        <div class="clearfix">
        #{if true}
            <a class="btn btn-primary float-left" href="@{Application.previousPage()}">← Première page</a>
        #{/if}
            <a class="btn btn-primary float-right" href="@{Application.nextPage()}">Older posts →</a>
        </div>
    </div>
</div>

<script src="@{'/public/javascripts/index.js'}"
        data-firstHighestSubTitle="${highestSubberries.get(0).title}"
        data-firstHighestSubId="${highestSubberries.get(0).id}"
        data-secondHighestSubTitle="${highestSubberries.get(1).title}"
        data-secondHighestSubId="${highestSubberries.get(1).id}"
        data-thirdHighestSubTitle="${highestSubberries.get(2).title}"
        data-thirdHighestSubId="${highestSubberries.get(2).id}"
        data-username="${username}"></script>