#{extends 'main.html' /}
#{set title:post.title + ' - Cawberry' /}

#{displayPost post:post, as:'full'/}

<script src="@{'/public/javascripts/index.js'}"
        data-firstHighestSubTitle="${highestSubberries.get(0).title}"
        data-firstHighestSubId="${highestSubberries.get(0).id}"
        data-secondHighestSubTitle="${highestSubberries.get(1).title}"
        data-secondHighestSubId="${highestSubberries.get(1).id}"
        data-thirdHighestSubTitle="${highestSubberries.get(2).title}"
        data-thirdHighestSubId="${highestSubberries.get(2).id}"></script>
