<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
        <!-- Main -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!-- jQuery -->
        <script src="@{'/public/javascripts/jquery-3.4.1.min.js'}"></script>
        <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>

    </head>
    <body>
        <!-- Juste pour montrer comment mettre une image -->
        <!-- On supprimera plus tard -->
        <img src="@{'/public/images/alarm.svg'}" alt="" width="32" height="32" title="Bootstrap">
    </body>
</html>
