<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- jQuery -->
        <script src="@{'/public/javascripts/jquery-3.4.1.min.js'}"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
        <!-- Main -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
<body>
<header class="jumbotron text-center" style="margin-bottom:0">
    <a href="@{Application.index()}">
        <h1>Cawberry</h1>
        <span class="subheading">Vous serez bouche ‘baie’</span>
    </a>
</header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="@{Application.index()}">Home</a>
    <ul id="navbar-nav" class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@{Application.createSub()}">New Berry</a>
        </li>
    </ul>
    <!--TODO: print only if not logged in -->
    <ul id="logged-in-menu" class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@{Secure.logout()}">Log out</a>
        </li>
    </ul>
    <ul id="logged-out-menu" class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@{Secure.login()}">Sign in</a>
        </li>
    </ul>
</nav>
#{doLayout /}
</body>
</html>
